@namespace ShadcnBlazor.Tests.Shared.TestComponents.Badge

<div class="flex flex-col gap-4">
    <div class="flex gap-2">
        <Badge Size="Size.Sm">Small Badge</Badge>
        <Badge Size="Size.Md">Medium Badge</Badge>
        <Badge Size="Size.Lg">Large Badge</Badge>
    </div>

    <div class="flex gap-2">
        <BadgeLink Href="/test">BadgeLink Default</BadgeLink>
        <BadgeLink Href="/test" Target="_blank">BadgeLink New Tab</BadgeLink>
    </div>
</div>
