@using ShadcnBlazor.Components.FocusTrap.Models
@using ShadcnBlazor.Components.FocusTrap.Services
@inherits ShadcnComponentBase
@implements IAsyncDisposable

<div @ref="_container" @attributes="AdditionalAttributes" class="@Class">
    @ChildContent
</div>