@inherits ShadcnComponentBase

<a
    data-slot="badge"
    data-variant="@Variant"
    href="@Href"
    target="@Target"
    class="@GetClass()"
    @attributes="AdditionalAttributes">
    @ChildContent
</a>
