@inherits ShadcnComponentBase

<span
    data-slot="badge"
    data-variant="@Variant"
    class="@GetClass()"
    aria-label="@AriaLabel"
    @attributes="AdditionalAttributes">
    @ChildContent
</span>
