@namespace ShadcnBlazor.Tests.Shared.TestComponents.Button

<Button Variant="Variant.Default">Default Button</Button>
<Button Variant="Variant.Destructive">Destructive Button</Button>
<Button Variant="Variant.Outline">Outline Button</Button>
<Button Variant="Variant.Ghost">Ghost Button</Button>
<Button Variant="Variant.Link">Link Button</Button>
<Button Size="Size.Sm">Small Button</Button>
<Button Size="Size.Lg">Large Button</Button>
<Button State="ButtonState.Loading">Loading Button</Button>
<Button State="ButtonState.Disabled">Disabled Button</Button>
