bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.secrets
.idea/

context/
scratch/

Models/Generated/
/src/ShadcnBlazor.Docs/Models/Generated/
!/src/ShadcnBlazor/Components/Shared/

/src/ShadcnBlazor.Docs/publish/
