@inherits ShadcnComponentBase

<div
    data-slot="avatar"
    class="@GetClass()"
    @attributes="AdditionalAttributes">
    @if (!string.IsNullOrWhiteSpace(Text))
    {
        @Text
    }
    else
    {
        @ChildContent
    }
</div>
