@using ShadcnBlazor.Shared.Enums
@inherits ShadcnComponentBase

<div
    data-slot="avatar-group"
    class="@GetClass()"
    @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public Size Size { get; set; } = Size.Md;

    private string GetOverlapClass() => Size switch
    {
        Size.Sm => "-space-x-2",
        Size.Md => "-space-x-3",
        Size.Lg => "-space-x-4",
        _ => "-space-x-3",
    };

    private string GetClass()
    {
        var baseClasses = "flex items-center *:data-[slot=avatar]:ring-2 *:data-[slot=avatar]:ring-background";
        return MergeCss(baseClasses, GetOverlapClass(), Class);
    }
}
