@* Avatar container component *@
<CascadingValue Value="this">
    <div
        data-slot="avatar"
        data-size="@Size"
        class="@GetClass()"
        @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>
