@using ShadcnBlazor.Components.Button

<div class="space-y-3 w-full max-w-sm">
    <AlignOffsetExample AlignOffset="0" Label="No Alignment Offset" />
    <AlignOffsetExample AlignOffset="32" Label="32px Alignment Offset" />
</div>
