<div class="flex flex-col gap-4">
    <Checkbox @bind-Checked="_accept">I accept the terms and conditions</Checkbox>
    <Checkbox @bind-Checked="_newsletter">Subscribe to newsletter</Checkbox>
</div>

@code {
    private bool _accept;
    private bool _newsletter = true;
}
