<Button Variant="@Variant.Default" OnClick="OpenDialog">Open Dialog</Button>

@code {
    [Inject]
    private IDialogService DialogService { get; set; } = null!;

    private void OpenDialog()
    {
        DialogService.Show<SingleFileDialogContent>("Confirm");
    }
}
