@inherits ShadcnComponentBase

<div 
    data-slot="alert"
    role="@AriaRole"
    aria-live="@AriaLive"
    aria-atomic="@AriaAtomic"
    class="@GetClass()"
    @attributes="AdditionalAttributes">
    @ChildContent
</div>
