@using EasyAppDev.Blazor.Icons.Lucide

<div class="flex flex-wrap gap-4">
    <Button><LuDownload class="h-4 w-4" />Download</Button>
    <Button Variant="@Variant.Outline"><LuMail class="h-4 w-4" />Email</Button>
</div>
