<div class="flex flex-col gap-4">
    <ButtonGroup Variant="@Variant.Outline">
        <Button>One</Button>
        <Button>Two</Button>
        <Button>Three</Button>
    </ButtonGroup>
    <ButtonGroup Variant="@Variant.Default">
        <Button><LuChevronLeft /></Button>
        <Button><LuChevronRight /></Button>
    </ButtonGroup>
    <ButtonGroup Role="toolbar" Class="w-fit">
        <div class="px-4 flex items-center text-sm">0</div>
        <Button Size="@Size.Sm" Class="px-2.5"><LuMinus /></Button>
        <Button Size="@Size.Sm" Class="px-2.5"><LuPlus /></Button>
    </ButtonGroup>
</div>
