<div class="flex flex-wrap gap-4">
    <Button>Plain text</Button>
    <Button Variant="@Variant.Outline"><strong>Bold</strong> text</Button>
    <Button Variant="@Variant.Secondary">Click <em>here</em></Button>
</div>
