<div class="flex flex-wrap gap-4">
    <Button Variant="@Variant.Default" State="@ButtonState.Loading">
        <LuLoaderCircle class="animate-spin size-4 shrink-0" />
        Generating
    </Button>
    <Button Variant="@Variant.Outline" State="@ButtonState.Loading">
        Downloading
        <LuLoaderCircle class="animate-spin size-4 shrink-0" />
    </Button>
</div>
