<div class="flex flex-wrap gap-2">
    <Badge Variant="@Variant.Default">Default</Badge>
    <Badge Variant="@Variant.Secondary">Secondary</Badge>
    <Badge Variant="@Variant.Outline">Outline</Badge>
    <Badge Variant="@Variant.Destructive">Destructive</Badge>
</div>
