<div class="flex flex-wrap gap-2">
    <Badge Variant="@Variant.Destructive">
        <LuLoaderCircle class="animate-spin" />
        Deleting
    </Badge>
    <Badge Variant="@Variant.Default">
        <LuLoaderCircle class="animate-spin" />
        Generating
    </Badge>
</div>
