<div class="flex flex-wrap gap-2">
    <Badge Variant="@Variant.Default">
        <LuBadgeCheck />
        Verified
    </Badge>
    <Badge Variant="@Variant.Secondary">
        <LuBookmark />
        Bookmark
    </Badge>
</div>
