<Tabs DefaultValue="account" Class="w-[400px]">
    <TabsList>
        <TabsTrigger Value="account">Account</TabsTrigger>
        <TabsTrigger Value="password">Password</TabsTrigger>
    </TabsList>
    <TabsContent Value="account">
        <p class="text-sm text-muted-foreground">
            Make changes to your account here. Click save when you're done.
        </p>
    </TabsContent>
    <TabsContent Value="password">
        <p class="text-sm text-muted-foreground">
            Change your password here. After saving, you'll be logged out.
        </p>
    </TabsContent>
</Tabs>
