@namespace ShadcnBlazor.Components.ContextMenu
@inherits ShadcnBlazor.Components.Shared.ShadcnComponentBase

<div role="presentation" class="@MergeCss("px-2 py-1.5 text-sm font-semibold", Class)" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    /// <summary>
    /// The label content.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
