@using ShadcnBlazor.Docs.Components.Samples.AiChat.Components
@using ShadcnBlazor.Docs.Components.Samples.AiChat.Components.Messages
@using ShadcnBlazor.Docs.Components.Samples.AiChat.Models
@using UserChatMessageView = ShadcnBlazor.Docs.Components.Samples.AiChat.Components.Messages.UserChatMessageView
@inherits ShadcnComponentBase

<div class="@(MergeCss("grid grid-rows-[1fr_auto] h-full px-40", Class))">
    <div id="chat-feed" class="flex flex-col gap-4 overflow-y-scroll scrollbar-hide">
        
        @if (ChatOrchestrator.Messages.Count == 0)
        {
            <div class="w-full h-full flex items-center justify-center text-muted-foreground">
                No messages yet. Start the conversation!
            </div>
        }
        else
        {
            foreach (var chatMsg in ChatOrchestrator.Messages)
            {
                @switch (chatMsg)
                {
                    case UserChatMessage userChatMessage:
                        <UserChatMessageView Message="@userChatMessage"/>
                        break;
                    case AiChatMessage aiChatMessage:
                        <AiChatMessageView Message="@aiChatMessage"/>
                        break;
                }
            }
        }
    </div>
    
    <div id="chat-input">
        <ChatInput SubmitPrompt="SubmitPrompt" />
    </div>
</div>