@namespace ShadcnBlazor.Tests.Shared.TestComponents.Skeleton

<div class="flex flex-col gap-6">
    <div class="flex items-center gap-4">
        <Skeleton Class="h-12 w-12 rounded-full" />
        <div class="flex-1">
            <Skeleton Class="h-4 w-full mb-2" />
            <Skeleton Class="h-4 w-4/5" />
        </div>
    </div>

    <div class="space-y-2">
        <Skeleton Class="h-4 w-full" />
        <Skeleton Class="h-4 w-full" />
        <Skeleton Class="h-4 w-3/4" />
    </div>

    <div class="rounded-lg border">
        <Skeleton Class="h-40 w-full rounded-t-lg" />
        <div class="p-4 space-y-2">
            <Skeleton Class="h-6 w-2/3" />
            <Skeleton Class="h-4 w-full" />
            <Skeleton Class="h-4 w-5/6" />
        </div>
    </div>
</div>
