<ContextMenu>
    <ContextMenuTrigger>
        <div class="flex h-[150px] w-[300px] items-center justify-center rounded-md border border-dashed border-border text-sm text-muted-foreground select-none cursor-context-menu">
            Right click here
        </div>
    </ContextMenuTrigger>
    <ContextMenuContent>
        <ContextMenuItem>View</ContextMenuItem>
        <ContextMenuItem>Edit</ContextMenuItem>
        <ContextMenuItem>Duplicate</ContextMenuItem>
        <ContextMenuSeparator />
        <ContextMenuItem>Archive</ContextMenuItem>
        <ContextMenuSeparator />
        <ContextMenuItem Destructive="true">Delete Page</ContextMenuItem>
    </ContextMenuContent>
</ContextMenu>
