<div class="flex items-center gap-4">
    <Avatar Src="https://github.com/shadcn.png" Alt="shadcn" Size="@Size.Sm" />
    <Avatar Src="https://github.com/shadcn.png" Alt="shadcn" Size="@Size.Md" />
    <Avatar Src="https://github.com/shadcn.png" Alt="shadcn" Size="@Size.Lg" />
</div>
