<div class="@RootClass" @attributes="AdditionalAttributes">
    @foreach (var popover in _registrations.Values)
    {
        <PopoverHostItem @key="popover.PopoverId" RegistrationObject="popover" />
    }
</div>
