<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["css/app.css"]"/>
    <link rel="stylesheet" href="@Assets["ServerGlobalInteractivity.styles.css"]"/>
    <ImportMap/>
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body class="dark">
<Routes @rendermode="InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>
<script src="js/popovers.js"></script>
</body>

</html>