@page "/playground"
@using Microsoft.AspNetCore.Components.Rendering
@using ShadcnBlazor.Docs.Components.Examples
@using ShadcnBlazor.Docs.Components.Samples
@using ShadcnBlazor.Components.Popover
@using ShadcnBlazor.Components.Popover.Models

<PageTitle>Playground</PageTitle>

<div class="max-w-[1240px] mx-auto p-12 space-y-24 mb-[200px]">
    <!-- Popover -->
    <div class="space-y-4">
        <div class="space-y-1">
            <h2 class="text-3xl font-bold tracking-tight">Popover</h2>
            <p class="text-muted-foreground">Configurable behaviors with Floating UI positioning.</p>
        </div>
        
        <div class="grid grid-cols-1 gap-12 pt-4">
            <div class="max-w-[440px]">
                <PopoverDimensionsDemo />
            </div>
            
            <PopoverPlaygroundDemo />
        </div>
    </div>
</div>
