@using ShadcnBlazor.Docs.Components.Layout
@using ShadcnBlazor.Docs.Components.Docs
@inherits LayoutComponentBase

<PopoverProvider RepositionDebounceMilliseconds="1" />

<header class="fixed top-0 left-0 right-0 z-50 h-14 w-full bg-background">
    <Header></Header>
</header>

<div class="min-h-screen bg-background text-foreground flex pt-14">
    <div id="nav-area" class="fixed left-0 top-14 bottom-0 w-[17.5%]">
        <div class="absolute top-0 right-0 w-[1px] h-full z-20" 
             style="background: linear-gradient(to bottom, transparent 0%, transparent 5%, var(--border) 50%, transparent 95%, transparent 100%);"></div>

        <div class="absolute top-0 left-0 right-0 h-24 bg-gradient-to-b from-background via-background to-transparent pointer-events-none z-10"></div>
        <div class="absolute bottom-0 left-0 right-0 h-24 bg-gradient-to-t from-background via-background to-transparent pointer-events-none z-10"></div>
        <NavMenu></NavMenu>
    </div>

    <div id="main-content" class="ml-[17.5%] mr-[17.5%] flex-1 min-w-0 grid text-sm p-10 pt-12 min-h-[calc(100vh-3.5rem)]">
        <div class="mx-40 min-w-0 overflow-x-hidden">
            @Body
        </div>
        <div class="w-[10rem] shrink-0"></div>
    </div>
    
    <div class="fixed top-14 right-10 w-[10rem] pt-10 bg-background z-40">
        <OnThisPage />
    </div>
</div>

