@using ShadcnBlazor.Docs.Components.Layout
@inherits LayoutComponentBase

<PopoverProvider RepositionDebounceMilliseconds="1" />
<DialogProvider />

<div class="absolute bg-background text-foreground w-screen h-screen flex flex-col">
    <div id="main-content" class="pt-14 h-full w-full">
        @Body
    </div>

    <header class="fixed z-50 h-14 w-full bg-background">
        <Header></Header>
    </header>
</div>
