@namespace ShadcnBlazor.Components.Accordion
@inherits ShadcnComponentBase

<CascadingValue Value="_context">
    <div
        data-slot="accordion"
        class="@GetClass()"
        @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>
