@namespace ShadcnBlazor.Components.Accordion
@inherits ShadcnComponentBase

<CascadingValue Value="_context">
    <div
        data-slot="accordion"
        class="accordion @(GetClass())"
        @ref="_rootRef"
        @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>
