<div class="flex flex-col gap-3">
    <Input Size="@Size.Sm" Placeholder="Small" />
    <Input Size="@Size.Md" Placeholder="Medium (default)" />
    <Input Size="@Size.Lg" Placeholder="Large" />
</div>
