<div class="flex flex-col gap-4">
    <div class="flex items-center gap-4">
        <Skeleton Class="h-12 w-12 rounded-full" />
        <div class="flex flex-col gap-2">
            <Skeleton Class="h-4 w-[250px]" />
            <Skeleton Class="h-4 w-[200px]" />
        </div>
    </div>
    <Skeleton Class="h-[125px] w-full rounded-xl" />
</div>
