@inherits ShadcnComponentBase

<CascadingValue Value="this">
    <div
        role="radiogroup"
        data-slot="radio-group"
        data-invalid="@(IsInvalid ? "true" : null)"
        class="@GetClass()"
        @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>

