@using ShadcnBlazor.Components.Button
@using ShadcnBlazor.Components.DropdownMenu

<div class="flex flex-col gap-4">
    <DropdownMenu>
        <DropdownMenuTrigger AsChild="true">
            <Button Variant="Variant.Outline">Open</Button>
        </DropdownMenuTrigger>
        <DropdownMenuContent>
            <DropdownMenuGroup>
                <DropdownMenuLabel>Panel Position</DropdownMenuLabel>
                <DropdownMenuRadioGroup
                    SelectedValue="@position"
                    SelectedValueChanged="@((val) => position = val)">
                    <DropdownMenuRadioItem Value="top">Top</DropdownMenuRadioItem>
                    <DropdownMenuRadioItem Value="bottom">Bottom</DropdownMenuRadioItem>
                    <DropdownMenuRadioItem Value="right">Right</DropdownMenuRadioItem>
                </DropdownMenuRadioGroup>
            </DropdownMenuGroup>
        </DropdownMenuContent>
    </DropdownMenu>

    <div class="text-sm">
        <p>Selected: @position</p>
    </div>
</div>

@code {
    private string position = "bottom";
}
