@inherits ShadcnComponentBase

<div
    data-slot="button-group"
    data-variant="@Variant.ToString().ToLower()"
    role="@Role"
    class="@GetClass()"
    @attributes="AdditionalAttributes">
    @ChildContent
</div>
