@namespace SampleWasmProject.Components.Core.DropdownMenu
@using SampleWasmProject.Components.Core.Popover
@using SampleWasmProject.Components.Core.Popover.Models

<CascadingValue Value="_context">
    <div style="display: none">@ChildContent</div>
        <Popover Open="_open"
                OpenChanged="v => { _open = v; _context.Open = v; StateHasChanged(); }"
            CloseOnOutsideClick="true"
            AnchorOrigin="PopoverPlacement.BottomLeft"
            TransformOrigin="PopoverPlacement.TopLeft"
            PopoverClass="dropdown-menu-content">
        <Anchor>
            @_context.GetTriggerFragment()
        </Anchor>
        <ChildContent>
            @_context.GetContentFragment()
        </ChildContent>
    </Popover>
</CascadingValue>
