<div class="flex flex-col gap-2">
    <ul class="list-disc list-inside space-y-1 text-sm">
        <li>First item</li>
        <li>Second item</li>
        <li>Third item</li>
    </ul>
    <a href="#" class="text-primary hover:underline">Link example</a>
</div>
