@implements IDisposable
@using ShadcnBlazor.Docs.Components.Layout
@using ShadcnBlazor.Components.Drawer

<div class="flex flex-col h-full">
    <div class="w-full py-6">
        <div class="mx-auto w-12 h-1.5 flex-shrink-0 rounded-full bg-popover-foreground mb-8"></div>
    </div>
    <div class="flex-1 overflow-y-auto overflow-x-hidden scrollbar-hide">
        <NavMenu/>
    </div>
</div>

@code {
    [Parameter]
    public DrawerRoot? DrawerRoot { get; set; }

    [Inject]
    public required NavigationManager Nav { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine($"[MobileNavSheet.OnInitialized] DrawerRoot: {DrawerRoot}");
        Nav.LocationChanged += OnLocationChanged;
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine($"[MobileNavSheet.OnParametersSet] DrawerRoot: {DrawerRoot}");
    }

    private async Task CloseDrawer()
    {
        if (DrawerRoot != null)
        {
            await DrawerRoot.CloseAsync();
        }
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        _ = CloseDrawer();
    }

    public void Dispose()
    {
        Nav.LocationChanged -= OnLocationChanged;
    }
}
