<Alert Variant="@AlertVariant.Default" Class="relative flex">
    <LuBadgeCheck />
    <div class="space-y-1">
        <p class="font-medium">Artifacts generated</p>
        <p class="text-muted-foreground">3 files have been created and are ready to download. Click view to access your generated content.</p>
    </div>
    <Button Variant="@Variant.Outline" class="flex-1">
        View
    </Button>
</Alert>